/* 
#cdc9c5;
#e1dfdd
#202020;
#2C2C2C; 
*/


@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap');

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ogg",serif;
}

/* .myEffect::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.025;  
  z-index: 10;
  pointer-events: none;
  background: url(../Assests/icon/noise.gif) ;
} */

.preloader {
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.welcome {
  height: 100vh;
  width: 100vw;
  z-index: 9999999999;
  position: absolute;
  background: #2C2C2C; ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  color: #cdc9c5; }

  
.heading {
  font-family: 'Cormorant', serif;
  font-size: 60px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.7px;
  opacity: 0; }

.sub-heading {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  /* font-family: "Avenir Next"; */
  margin-bottom: 0.7rem;
  font-family: 'Tangerine', cursive;
  opacity: 0; }

.loader-wrapper {
  height: 2px;
  width: 150px;
  background: #cdc9c5;
  border-radius: 100px;
  opacity: 0; }

.loader {
  height: 2px;
  width: 150px;
  background: #cdc9c5;
  border-radius: 100px;
  background: #383838; }

body .after-preloader-contant{
  opacity: 0;
}

.after-preloader2{
  display: none;
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.025;  
    z-index: 1000;
    pointer-events: none;
    background: url(../Assests/icon/noise.gif) ;
}

/* HOME Page */

.home--header{
  height: 100vh;
  width: 100%;
  /* color: #202020; */
  background-color: #e1dfdd;
  overflow: hidden;
  position: relative;
}

.home--header .header-text{
  position: absolute;
  opacity: 1;
  font-family: "Ogg";
  top: 40%;
  left: 2%;
  color: #000;
  /* font-style: italic; */
  font-size: 9rem;
  letter-spacing: -6.7px;
}

.scrolling {
	width: 100%;
	overflow: hidden;
  opacity: 1;
}
.scrolling .scrolling-text {
  position: absolute;
  font-family:"Ogg",serif;
  font-weight: 300;
  bottom: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
  letter-spacing: -1.7px;
	font-size: 17.5vh;
	text-align: center;
	line-height: 50px;
  color: #1c1d20;
	transform: translateX(100%);
	animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* naviigation */


.menu-open {
	color: black;
  z-index: 1;
}

.menu-open,
.menu-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px;
	font-size: 20px;
	cursor: pointer;
}

.socials {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 40px 100px;
}

.socials span {
	text-transform: uppercase;
	margin: 0 20px;
	letter-spacing: 0px;
}

.nav-container {
	position: fixed;
  color: #cdc9c5;
	left: -100%;
  z-index: 2;
	width: 100%;
	height: 100vh;
	background: #202020;
}

.menu__item {
	position: relative;
	padding: 0 6vw;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: opacity 0.4s;
}

.menu__item-link::before {
	all: initial;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	z-index: 2;
	pointer-events: none;
	position: absolute;
	height: 12vh;
	max-height: 600px;
	opacity: 0;
	left: 8%;
	top: 10%;
	transform: scale(0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: scale(1);
	transition: all 0.4s;
}

.menu {
	padding: 10vh 0 25vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 7vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: rgb(214, 214, 214);
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	opacity: 0;
	transition: all 0.1s;
	transform: translateX(60px);
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	opacity: 1;
	transform: translateX(0px);
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 7vw;
	padding: 0 1vw;
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}

.menu__item-link:link,
.menu__item-link:visited{
  color:#cdc9c5;
  text-decoration: none;
}

/* My Text */

.text-container {
  display: flex;
  padding: 15rem 5rem;
  background-color: #e1dfdd;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 200vh; */
  width: 100%;
}
.text-container .text {
  font-size: 2rem;
  font-family: "Ogg";
  padding-left: 20rem;

}

.text-container .num{
  font-size: 2.5rem;
  /* padding-left: 20rem; */
}

.text span {
  color: black;

}

.recent-projects-section{
  background-color: #e1dfdd;
  padding: 7rem 5rem;


}

.recent-projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 200vh; */
  width: 100%;
}
.recent-projects .text {
  font-size: 2rem;
  font-family: "Ogg";
  padding-left: 20rem;

}

.recent-projects .num{
  font-size: 2.5rem;
  /* padding-left: 20rem; */
}

.text span {
  color: black;
}

.project{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.project-info{
  width: 35%;
}
.project-img{
  width: 60%;
}


