/* 
#cdc9c5;
#e1dfdd
#202020;
#2C2C2C; 
*/


@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap');

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Ogg",serif;
  background-color: #e1dfdd;
  backface-visibility: hidden;

}

/* custom cursor */

.cursor {
  width: 20px;
  z-index: 99999;
  height: 20px;
  border: 2px solid #2C2C2C;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}


@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid black;
}

.myEffect::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.023;  
  z-index: 10;
  pointer-events: none;
  background: url(../Assests/icon/noise.gif) ;
}

.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.025;  
    z-index: 1000;
    pointer-events: none;
    background: url(../Assests/icon/noise.gif) ;
}

/* HOME Page */

.home--header{
  height: 100vh;
  width: 100%;
  background-color: #e1dfdd;
  /* background-color: #383838; */
  overflow: hidden;
  position: relative;
}

.home--header .header-text{
  position: absolute;
  opacity: 1;
  font-family: "Ogg";
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 9rem;
  letter-spacing: -6.7px;
}

.scrolling {
	width: 100%;
	overflow: hidden;
  opacity: 1;
}
.scrolling .scrolling-text {
  position: absolute;
  font-family:"Ogg",serif;
  font-weight: 300;
  bottom: 10%;
	width: max-content;
	margin: 0;
	padding: 0;
  letter-spacing: -1.7px;
	font-size: 17.5vh;
	text-align: center;
	line-height: 50px;
  color: #1c1d20;
	transform: translateX(100%);
	animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* My Text */

.text-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 15rem 5rem;
  background-color: #e1dfdd;
  width: 100%;
}
.text-container .text {
  font-size: 2rem;
  font-family: "Ogg",serif;
  line-height: 3rem;
}

.num{
  font-size: 2.5rem;
}

.first-text{
  margin-bottom: 2rem;
}

.text span {
  color: black;
  display: inline-block;
}

/* ########## PROJECTS ####### */

.recent-projects-section{
  background-color: #e1dfdd;
  padding: 7rem 5rem 0rem 5rem;
}

.recent-projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 200vh; */
  width: 100%;
}
.recent-projects .text {
  font-size: 2rem;
  font-family: "Ogg", serif;
  /* padding-left: 20rem; */

}

.num{
  font-size: 2.5rem;
}

.text span {
  color: black;
}

.project{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:10rem 0;
}

.project-info{
  width: 50%;
  padding-right: 1rem;
  position: relative;
}

.project-info span{
  position: sticky;
  top: 5%;
}
.project-img{
  width: 50%;
  z-index: 11;
  opacity: 1;
}

.project-img img{
  width: 100%;
  height: 100%;
}

.project-img-small{
  display: none;
}

.project-title{
  font-size: 6rem;
}

.p-title:hover{
  text-decoration: underline;
} 


.project-subtitle{
  display: block;
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #2C2C2C;
}

.project-3{
  margin-bottom:3.7rem ;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
  text-decoration: underline;
  color: #202020;

}

.recent-projects-section a:hover{
  text-decoration: none;
  text-shadow: 0 0 0 rgb(48, 48, 48);
}

/* ########## ABOUT ########## */

.aboutme-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.7rem;
  padding: 4rem 0;
  align-items: baseline;

}

.about-me{
  padding: 5rem;
}

.about-me .about-heading{
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}

.about-img{
  width: 20rem;
} 

.about-subheading{
  text-transform: uppercase;
  color: #2C2C2C;
  letter-spacing: -0.5px;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.resume-link:link,
.resume-link:visited {
  text-decoration: underline;
  color: #202020;
}

.resume-link:hover{
  text-decoration: none;
  text-shadow: 0 0 0 rgb(48, 48, 48);
}

.about-img img{
  width: 100%;
}

.tech-stack{
  margin-top: 2rem;
}

.about-info p{
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #383838;
  line-height: 1.7rem;
}

.tech-icons{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}

.tech-icon{
  height: 3rem;
}

.skills{
  font-size: 2rem;
  color: #2C2C2C;
  text-transform: uppercase;
}


/* ######### FOOTER  ######### */

footer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding:  5rem;
  align-items: center;
  padding-bottom: 2rem ;
  background-color: #e1dfdd;
}

footer .heading {
  font-family: 'Cormorant', serif;
  font-size: 60px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.7px;
 }

footer .sub-heading {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 0.7rem;
  font-family: 'Tangerine', cursive;
}

footer a{
  display: inline-flex;
  margin:.3rem ;
  color:#202020;
  text-decoration: none; 
  border-bottom: transparent 1px solid; 
}

footer ul{
  list-style: none;
}

.contact{
  /* margin: 2rem 0; */
  
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact h3,
.social h3{
  margin-bottom: .7rem;
}

.social{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.finl-footer{
  padding: 1rem;
  background-color: #38383853;
}

footer a:hover{
  border-bottom: 1px solid black;
  backface-visibility: hidden;
}

.contact-me{
  display: flex;
  justify-content: space-between;    
  align-items: flex-start;

}


/* --- MEDIA QUERY --- */

@media (max-width:1490px) {
  .project-title{
    font-size: 5rem;
  }
}

@media(max-width:1250px){
  .home--header .header-text{
    font-size: 5rem;
    letter-spacing: -4.7px;
  }

  .num{
    font-size: 1.9rem;
  }

  .text span {
    font-size: 1.5rem;
    line-height: 2.5rem;

  }

  .project-title{
    font-size: 4rem;
  }

  .project-subtitle{
    font-size: 1.3rem;
  }

  .about-subheading{
    font-size: 2rem;
  }

}

@media(max-width:1186px){
  footer .heading {
    font-size: 3rem;
   }
}

@media(max-width:1024px){
  .home--header .header-text{
    font-size: 5rem;
    letter-spacing: -3.9px;
  }

  .text-container {
    padding: 12rem 3rem;
  }

  .recent-projects-section{
    padding: 7rem 3rem 0rem 3rem;
  }

  .project-title{
    font-size: 3.5rem;
  }

  .project-subtitle{
    font-size: 1.1rem;
  }

  .about-me{
    padding: 3rem;
  }

  .about-info p{
    font-size: 1.1rem;
  }

  footer{
    padding:  3rem 3rem;
  }
}

@media (max-width:913px) {
  footer .heading {
    font-size: 2rem;
   }
}

@media(max-width:867px){
  .project-title{
    font-size: 3rem;
  }

  .project-subtitle{
    font-size: 1rem;
  }
}

@media(max-width:768px){
  .text-container {
    padding: 5rem 1.5rem;
  }

  .recent-projects-section{
    padding: 7rem 1.5rem 0rem 1.5rem;
  }

  .about-me{
    padding: 1.5rem;
  }

  footer{
    padding:  2.5rem 1.5rem;
    align-items: center;
  }

  footer h3{
    margin-bottom: 1rem;
  }

  .text span {
    font-size: 1.3rem;
    line-height: 2.3rem;

  }

  .project{
    margin: 6rem 0;
  }

  .project-3{
    margin: 4rem 0;
  }

  .recent-projects-section .btn:link,
  .recent-projects-section .btn:visited {
    font-size: 1rem;
  }

  .contact{
    /* margin-top: 1.5rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social{
    /* margin-top: 1.5rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutme-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .about-info p{

    margin-bottom: 1rem;
    font-size: 1.01rem;
    color: #383838;
  }

}

@media (max-width:720px) {
  .project-title{
    font-size: 2.2rem;
  }
  .num{
    font-size: 1.7rem;
  }

  .text span {
    font-size: 1.4rem;
    line-height: 2rem;

  }

  .project{
    margin: 3.2rem 0;
  }

  footer .heading {
    font-size: 1.7rem;
    letter-spacing: -0.5px;
    margin-bottom: 0.3rem;
   }
  
  footer .sub-heading {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

}

@media (max-width:600px){
  .home--header .header-text{
    font-size: 4rem;
    letter-spacing: -4.7px;
  }
  .project{
    flex-direction: column;
    width: 100%;
  }

  .project-info{
    width: 100%;
  }

  .project-info span{
    position: relative;
  }

  .project-img{
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .project-subtitle{
    font-size: 1rem;
    margin: 1.2rem 0;
    color: #2C2C2C;
  }

  .project-img-small{
    display: block;
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ps-img-1{
    background-image: url(../Assests/imgs/three.png);
  }
  .ps-img-2{
    background-image: url(../Assests/imgs/plantgenics.png);
  }
  .ps-img-3{
    background-image: url(../Assests/imgs/Two.png);
    background-position: left;
  }

  .footer .heading {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    margin-bottom: 0.3rem;
}

footer .sub-heading {
  font-size: 1.1rem;
}

.contact{
  margin: 0;
}

.social{
  margin-top: 0;
}

}

@media (max-width:452px){
  .home--header .header-text{
    font-size: 3rem;
    letter-spacing: -1.7px;
    width: 100%;
    text-align: center;
  }
  .text-container {
    display: flex;
    padding: 5rem 0.9rem;
    flex-direction: column;
  }
  .text-container .num{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .text span {
    font-size: 1.2rem;
  }

  .recent-projects{
    /* align-items: flex-start; */
    flex-direction: column
  }

  .recent-projects-section {
    padding: 3.5rem 0.9rem 0rem 0.9rem;
  }

  .project-3{
    margin-bottom: 2rem;
  }

  .about-heading{
    flex-direction: column;
  }

  .about-me {
    padding: 3.5rem 0.9rem;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .contact-me{
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
  }

  .about-me .about-heading .num{
    font-size: 1.7rem;
  }

  .about-me .about-heading .text{
    font-size: 1rem;
    line-height: 0;
  }

  .aboutme-wrapper{
    padding: 2rem 0 4rem 0;
  }

  .project-1{
    margin: 2rem 0 3.2rem 0;

  }

  .social{
    margin-top: 1rem;
  }
  .about-img {
    width: 100%;
}
}



